**
!pyproject.toml
!requirements.txt
!constraints.txt
!src/
!src/**
!orchestration/
!orchestration/airflow/
!orchestration/airflow/Dockerfile
!orchestration/standalone/
!orchestration/standalone/Dockerfile
!orchestration/standalone/config.yaml
!alembic.ini
!migrations/
!migrations/**
!configs/
!configs/**
**/__pycache__/
**/*.pyc
